<% include ../../partials/header %>
    <div class="clearfix"> </div>
    <div class="page-container">
    <% include ../../partials/sidebar %>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="row">
                  <div class="col-md-12">
                          <!-- BEGIN SAMPLE TABLE PORTLET-->
                          <div class="portlet box red">
                              <div class="portlet-title">
                                  <div class="caption">
                                      <i class="fa fa-picture-o"></i>Tours </div>
                                  <div class="tools">
                                      <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                      <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                      <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                      <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                  </div>
                              </div>
                              <div class="portlet-body">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead>
                                              <tr>
                                                  <th> # Activity ID</th>
                                                  <th> Title </th>
                                                  <th> Last published </th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td> 3443 </td>
                                                  <td><a href="/tours/golden-circle">The Golden Circle </a></td>
                                                  <td> 	02.Mar'17 02:31 </td>
                                                  <td><a class="btn btn-xs btn-primary product-delete" href="/products/activities/8273/delete"><i class="fa fa-eye icon-white"></i></a>
                                                  <a class="btn btn-xs btn-danger product-delete" href="/products/activities/8273/delete"><i class="fa fa-trash icon-white"></i></a></td>
                                              </tr>
                                              <tr>
                                                  <td> 3412 </td>
                                                  <td> South Shore Adventure </td>
                                                  <td> 02.Mar'17 02:31 </td>
                                                  <td><a class="btn btn-xs btn-primary product-delete" href="/products/activities/8273/delete"><i class="fa fa-eye icon-white"></i></a>
                                                  <a class="btn btn-xs btn-danger product-delete" href="/products/activities/8273/delete"><i class="fa fa-trash icon-white"></i></a></td>
                                              </tr>
                                              <tr>
                                                  <td> 3334 </td>
                                                  <td> The Blue Lagoon </td>
                                                  <td> 02.Mar'17 02:31 </td>
                                                  <td><a class="btn btn-xs btn-primary product-delete" href="/products/activities/8273/delete"><i class="fa fa-eye icon-white"></i></a>
                                                  <a class="btn btn-xs btn-danger product-delete" href="/products/activities/8273/delete"><i class="fa fa-trash icon-white"></i></a></td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <!-- END SAMPLE TABLE PORTLET-->
                      </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
<% include ../../partials/footer %>
