<% include ../../partials/header %>
    <div class="clearfix"> </div>
    <div class="page-container">
    <% include ../../partials/sidebar %>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="clearfix"></div>
                <div class="row">
                <div class="col-md-12">
                            <!-- BEGIN BORDERED TABLE PORTLET-->
                            <div class="portlet light portlet-fit ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Partners</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                                          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                            New Partner
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover table-light">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th> Name </th>
                                                    <th> Email </th>
                                                    <th> Phone </th>
                                                    <th> Url </th>
                                                    <th> Action </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              <% partners.forEach(function(partner) { %>
                                              <tr>
                                                  <td><%= partner.name %></td>
                                                  <td><%= partner.email %></td>
                                                  <td><%= partner.phone %></td>
                                                  <td><%= partner.url %></td>
                                                  <td>
                                                      <span class="label label-sm label-success"> Edit </span>
                                                  </td>
                                              </<tr>
                                              <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END BORDERED TABLE PORTLET-->
                        </div>
                      </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Partner</h4>
      </div>
      <div class="modal-body">
        <form action="/partners" method="POST">
          <div class="form-group">
          <label class="control-label">Partner Name</label>
            <div class="input-icon left">
              <i class="fa fa-user tooltips" data-original-title="Email address" data-container="body"></i>
              <input type="text" required="required" name="name" class="form-control"> </div>
            </div>
            <div class="form-group">
            <label class="control-label">Email</label>
              <div class="input-icon left">
                <i class="fa fa-envelope tooltips" data-original-title="Email address" data-container="body"></i>
                <input type="text" required="required" name="email" class="form-control"> </div>
              </div>
              <div class="form-group">
              <label class="control-label">Phone Number</label>
                <div class="input-icon left">
                  <i class="fa fa-phone tooltips" data-original-title="Email address" data-container="body"></i>
                  <input type="text" required="required" name="phone" class="form-control"> </div>
                </div>
                <div class="form-group">
                <label class="control-label">Logo</label>
                  <div class="input-icon left">
                    <i class="fa fa-image tooltips" data-original-title="Email address" data-container="body"></i>
                    <input type="file" required="required" name="logo" class="form-control"> </div>
                  </div>
                  <div class="form-group">
                  <label class="control-label">Bógo Url</label>
                    <div class="input-icon left">
                      <i class="fa fa-link tooltips" data-original-title="Email address" data-container="body"></i>
                      <input type="text" required="required" name="url" class="form-control"> </div>
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
    <!-- END CONTAINER -->
<% include ../../partials/footer %>
