
       <div class="page-footer">
           <div class="page-footer-inner"> 2017 &copy; Powered By
               <a target="_blank" href="http://bogo.is">Bógó</a>
               <div class="scroll-to-top">
                   <i class="icon-arrow-up"></i>
               </div>
           </div>
          <script src="http://localhost:3001/assets/dashboard/js/jquery.min.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/bootstrap.min.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/slimscroll.min.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/datatables.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/datatables.min.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/datatables.bootstrap.min.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/datatables-responsive.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/wysihtml5-0.3.0.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/bootstrap-wysihtml5.js" type="text/javascript"></script>
          <script src="http://localhost:3001/assets/dashboard/js/app.min.js" type="text/javascript"></script>
</body>
