<meta charset="UTF-8">
<title><%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="http://localhost:3001/assets/dashboard/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://localhost:3001/assets/dashboard/css/components.min.css">
<link rel="stylesheet" type="text/css" href="http://localhost:3001/assets/dashboard/css/plugins.min.css">
<link href="http://localhost:3001/assets/dashboard/css/layout-min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css"  href="http://localhost:3001/assets/dashboard/css/datatables.min.css">
<link rel="stylesheet" type="text/css"  href="http://localhost:3001/assets/dashboard/css/datatables.bootstrap.min.css">
<link rel="stylesheet" type="text/css"  href="http://localhost:3001/assets/dashboard/css/wysihtml5.css">
<link rel="stylesheet" type="text/css"  href="http://localhost:3001/assets/dashboard/css/blue.min.css">
